body{
    background-color: #141336;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #393685;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

header h2{
    margin-top: 2px;
    color: #8fb2d1;
}

ul{
    margin: 10px auto;
    width: 50%;
    background-color: white;
    border-radius: 20px;
}

ul li {
    text-decoration: none;
    list-style: none;
}

#form{
    background-color: white;
    color: #393685;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}

form button {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.burgerIcon, .burgerIcon img{
    margin: 20px auto;
    width: 200px;
}

.burgerDiv{
    width: 70%;
    margin: 0 auto;
    background-color: orange;
}

#ordered{
    float: left;
    width: 48%;
    text-align: center;
    border-right: 2px solid black;
}

#eaten{
    float: left;
    width: 50%;
    text-align: center;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
